.ListeDocumentContainerStyling .FacultePIC {
    display: none;
}

.TitleForListeDesDocumentsStyle{
    background-color: aliceblue;
    padding: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(43, 43, 87); 
    width: 80%;
}
.ListeDocumentContainerStyling .LoginButtonForHeader{
    margin-top: -2.8%;
    margin-left: 84%;
}
.TitleTitleForListeDocument{
    background-color: transparent;
    margin-top: 2%;
}
.pagination{
margin-left:40%}